In [2]:
from selenium import webdriver
import pandas as pd
import requests
driver = webdriver.Chrome()
from bs4 import BeautifulSoup
url="https://www.marchtee.com/classics"
driver.get(url)

In [3]:
soup = BeautifulSoup(driver.page_source, 'html.parser')
#print(soup.prettify())

In [10]:
marchtee_tshirt=[]
from typing import Text
articals=soup.find_all('div',class_="product-card")
#articals=container.find_all('div',class_="animate-card")

for article in articals:
  name=article.find('p',class_="title footnote")
  productname=name.get_text()
  name2=article.find('p',class_="footnote")
  productsubname=name2.get_text()
  price=article.find('span',class_="price discounted")
  productprice=price.get_text()
  price2=article.find('span',class_="price original strikethrough")
  if price2  is None:
        productactualprice=0
  else:
    productactualprice=price2.get_text()
  
  marchtee_tshirt.append([productname,productsubname,productprice,productactualprice])

In [11]:
df=pd.DataFrame(marchtee_tshirt,columns=['productname','productsubname','productprice','productactualprice'])
df.to_csv('marchtee_tshirt.csv')

In [12]:
df

      productname productsubname productprice productactualprice
0    Classic Crew   Classic Crew       ₹1,500             ₹1,800
1    Classic Crew   Classic Crew       ₹1,500             ₹1,800
2    Classic Crew   Classic Crew       ₹1,500             ₹1,800
3    Classic Crew   Classic Crew       ₹1,800             ₹2,300
4    Classic Crew   Classic Crew       ₹1,500             ₹1,800
5    Classic Crew   Classic Crew       ₹1,500             ₹1,800
6    Classic Crew   Classic Crew       ₹1,800             ₹2,300
7    Classic Crew   Classic Crew       ₹1,500             ₹1,800
8    Classic Crew   Classic Crew       ₹4,500             ₹5,900
9     Supima Polo    Supima Polo       ₹1,800                  0
10    Supima Polo    Supima Polo       ₹1,800                  0
11    Supima Polo    Supima Polo       ₹1,800                  0
12    Supima Polo    Supima Polo       ₹1,800                  0
13    Supima Polo    Supima Polo       ₹1,800                  0
14    Supima Polo    Supima Polo       ₹5,000             ₹5,400
15    Supima Polo    Supima Polo       ₹1,290             ₹1,800
16      Classic V      Classic V       ₹1,500                  0
17      Classic V      Classic V       ₹1,500                  0
18      Classic V      Classic V       ₹1,500                  0
19      Classic V      Classic V       ₹1,800             ₹2,300
20      Classic V      Classic V       ₹4,500             ₹5,300
21  Classic Suvin  Classic Suvin       ₹4,900                  0
22        Suvin V        Suvin V       ₹4,900                  0
23   Classic Crew   Classic Crew       ₹2,300                  0